
    <html>
<head>
  <title>Create New Issue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/newIssue.css">

</head>

<body>
<!-- NAVIGATION BAR -->
  <script>
    function goBack(){
      window.history.back();
    }
/*
    function chooseBtn(e){
      e.preventDefault();
      $(this).css("background-color", "#2CB580"; "color", "white");
    }*/
  </script>

<div class="navbar">
  <div class="navbar-new">
    <i onclick="goBack()" class="fa fa-chevron-left" style="color:white; left: 0; padding-left: 12px; padding-right: 10px; margin-top: 16px"></i>
  </div>
  <div class="navbar-left-most">
    <div class="dropdown">
      <button class="dropbtn">CREATE NEW ISSUE
        <i class="fa fa-chevron-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/homePage">Food with Matt</a><!--
        <a href="oldIssues/rinka.html">Food with Rinka</a>
        <a href="oldIssues/rajiv.html">Property with Rajiv</a>
        <a href="newIssue/index.html">Create New Issue</a>-->
      </div>
    </div>
  </div>
  <div class="navbar-settings">
    <div class="dropdown">
      <button class="dropbtn">&#9776;</button>
      <div class="dropdown-content" style="right:0">
        <a href="/settings">Settings</a>
        <a href="/logOut">Log Out</a>
      </div>
    </div>
  </div>
</div>


<!-- ACTUAL CONTENT BEGIN -->
<div class="main-content-area">
  <h1>Hi!</h1>
  <!--<form class="new-issue-setup">-->

    <label>What would you like to name this issue?</label><br \>
    <input id="text" type="text" name="title" required />
    <hr class="between-elements">

    <label for="category">Which category best represents this issue?</label><br \>
    <button class="btn" id="food">food</button>
    <button class="btn" id="cleaning">cleaning</button><br \>
    <button class="btn" id="personal">personal</button><br \>
    <hr class="between-elements">


    <label>Which scenario best describes this issue?</label><br \>
    <button class="btn" id="stealing">stealing</button>
    <button class="btn" id="unsanitary">unsanitary</button>
    <!--
    <input type="radio" name="scenario" value="stealing">Stealing
    <input type="radio" name="scenario" value="unsanitary">Unsanitary
  -->
    <hr class="between-elements">

    <label for="description">Write a brief description about how the issue affects you?</label><br \>
    <textarea id="text"required></textarea>
    <hr class="between-elements">
<!--
    <label>Name this Issue</label><br \>
    <input id="text-single-line" placeholder=" Food with David" type="text" name="title" required />
    <hr class="between-elements">

    <label for="category">Select Category</label><br \>
    <button class="btn" id="food">food</button>
    <button class="btn" id="cleaning">cleaning</button>
    <button class="btn" id="personal">personal</button>
    <hr class="between-elements">

    <label>Select Scenario</label><br \>
    <div class="radio-button">
    <input type="radio" name="scenario" value="stealing" class="radio-button">Stealing
    <input type="radio" name="scenario" value="unsanitary" class="radio-button">Unsanitary
    </div>
    <hr class="between-elements">


    <label for="description">Describe this Issue</label><br \>
    <textarea id="text-multi-line" placeholder=" 2-3 sentences" required></textarea>
    <hr class="between-elements">
-->
    <label for="category">How long has this issue been bothering you?</label><br \>
    <button class="btn" onclick="chooseBtn()" id="few days">food</button>
    <button class="btn" onclick="chooseBtn()" id="weeks">cleaning</button><br \>
    <button class="btn" onclick="chooseBtn()" id="months">personal</button><br \>
    <hr class="between-elements">

    <label for="category">What is your relationship with this person?</label><br \>
    <button class="btn" onclick="chooseBtn()" id="few days">dating</button>
    <button class="btn" onclick="chooseBtn()" id="weeks">friends</button><br \>
    <button class="btn" onclick="chooseBtn()" id="months">acquaintances</button><br \>
    <hr class="between-elements">

    <label for="category">Have you taken any steps to resolve the issue?</label><br \>
    <button class="btn" onclick="chooseBtn()" id="few days">directly communicated</button>
    <button class="btn" onclick="chooseBtn()" id="weeks">tried mentioning it</button><br \>
    <button class="btn" onclick="chooseBtn()" id="months">nothing yet</button><br \>

<!--
    <div class="dynamically-change">
    <label for="length">How long has this issue been bothering you?</label><br \>
    <div class="duration">
    <input type="number" id="number" style="width:40px; border: 1px solid grey; border-radius: 4px; height: 36px"/>
    <select id="unit">
      <option value="day">day(s)</option>
      <option value="week">week(s)</option>
      <option value="month">month(s)</option>
    </select>
  </div>
</div>
-->
<!--
    <input class="submit" type="submit" value="Submit New Issue" id="save"/>
  -->
<!--</form>-->
<div class="final-options">
  <a href="/submitNew">
    <button class="submit">Submit New Issue</button>
  </a>
</div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
  $(document).ready(function(){
    $(".btn").click(function() {
      $(this).css({"background-color":"#33cc99", "color":"white"});
    });
  });
</script>
</body>
</html>
