<html>
<head>
  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../css/homePage.css" rel="stylesheet">

</head>
<body>
  <div class="navbar">
    <div class="navbar-new">
      <a href="/createNew" style="font-weight: 600">+</a>
    </div>
    <div class="navbar-left-most">
      <div class="dropdown">
        <button class="dropbtn">FOOD WITH MATT
          <i class="fa fa-chevron-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="" class="active">Food with Matt</a><!--
          <a href="oldIssues/rinka.html">Food with Rinka</a>
          <a href="oldIssues/rajiv.html">Property with Rajiv</a>
          <a href="newIssue/index.html">Create New Issue</a>-->
        </div>
      </div>
    </div>
    <div class="navbar-settings">
      <div class="dropdown">
        <button class="dropbtn">&#9776;</button>
        <div class="dropdown-content" style="right:0">
          <a href="/settings">Settings</a>
          <a href="/logOut">Log Out</a>
        </div>
      </div>
    </div>
  </div>

<div class="main-content-area">
  <a href="/moodLog">
    <div class="mood">
      <div class="mood-text-area">
        <div class="mood-title">RECENT MOOD LOG</div>
        <div class="mood-current">Happy</div>
        <div class="mood-suggestion">Keep it up!</div>
      </div>
      <div>
        <img src="images/happyMood.png" alt="Mood Icon" class="mood-icon">
      </div>
    </div>
  </a>

  <div class="advice-content-area">
    <h1>Advice</h1>
    <table>
      <tr>
        <td class="advice"><button class="advice-checkbox"></button></td>
        <td class="advice-text-box">Don't confront Matt immediately. Make sure to not confront Matt until a few more days have passed.</td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td class="advice"><button class="advice-checkbox"></button></td>
        <td class="advice-text-box">Observe Matt's behavior for a few more days, and mark down any additional stolen food.</td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td class="advice"><button class="advice-checkbox"></button></td>
        <td class="advice-text-box">After a few days of no additional instances, gently bring up the conversation with Matt.</td>
      </tr>
    </table>

  <div class="question-content-area">
    <h1>Additional Questions</h1>
    <div class="question-box">
      <div class="question-text">What steps have you taken to resolve the issue so far?
      </div>
      <div class="question-answers">
        <button class="question-button">directly communicated
        </button>
        <button class="question-button">tried communicating
        </button>
        <button class="question-button">nothing yet
        </button>
      </div>
    </div>
    <div class="final-options">
          <a href="./history">
          <button class="filled-in">History
          </button>
        </a>
          <div></div>
          <div class="completed">
          <button class="not-filled-in" onclick="pop()">Mark Issue as Completed
          </button>
        </div>
        </div>

</div>
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
  function pop(){
    alert("You have marked this issue as completed!");
  }
  $(document).ready(function(){
    $(".not-filled-in").click(function(){
      $(".completed").hide();
    });
    $(".advice-checkbox").click(function() {
      $(this).css({"background-color":"#33cc99", "border-color":"white"});
    });
    $(".question-button").click(function() {
      $(this).css({"background-color":"#33cc99", "color":"white"});
    });
  });
</script>
</html>
