<!DOCTYPE html>
<html lang='eg'>
  <head>
    <meta charset='UTF-8'/>
    <title>Welcome</title>
    <link rel='stylesheet' href='../css/login.css'/>
  </head>
  <body>

    <img src='../images/logo.png' width=77 alt='Logo for Common Ground'/>

    <h1>Conflict resolution doesn’t have to be stressful.</h1>

    <a href="/signup" class="button"><div class="sign-in">Sign Up</div>
    <a href="/login" class="button"><div class="log-in">Log In</div></a>
  </body>
</html>
