<html>
<head>
	<title>Mood Log</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/moodLog.css">
</head>
<body>
<!-- NAVIGATION BAR -->

  <script>
    function goBack(){
      window.history.back();
    }
    </script>


<div class="navbar">
  <div class="navbar-new">
      <i onclick="goBack()" class="fa fa-chevron-left" style="color:white; left: 0; padding-left: 5px; padding-right: 10px; margin-top: 12px"></i>
  </div>
  <div class="navbar-left-most">
    <div class="dropdown">
      <button class="dropbtn">Food with Matt: Mood Log</button>
  </div>
    </div>
  <div class="navbar-settings">
    <div class="dropdown">
      <button class="dropbtn">&#9776;</button>
      <div class="dropdown-content" style="right:0">
        <a href="/settings">Settings</a>
        <a href="/logOut">Log Out</a>
      </div>
    </div>
  </div>
</div>

	<div class="container">
	<h1>Mood Log</h1>
	{{#each moods}}
	<table>
		<tr>
			<th id="col-1"><figure class="pictures">
				<img src="../images/{{emoji}}" width="60" height="60">
				<figcaption>{{month}}, {{day}}, 2018</figcaption>
			</figure></th>
			<th id="col-2">{{comment}}</th>
		</tr>
	</table>
		<hr class="between-elements">
	{{/each}}
</div>
</body>
</html>
