<!DOCTYPE html>
<html lang='eg'>
  <head>
    <meta charset='UTF-8'/>
    <title>Log In</title>
    <link rel='stylesheet' href='../css/login.css'/>
  </head>
  <!--<body>

    <img src='images/logo.png' width=77 alt='Logo for Common Ground'/>

    <h1>Log In</h1>

    <form><input type="text" name="fname" placeholder="Username"></form>
    <form><input type="text" name="fname" placeholder="Password"></form>

    <a href="daily-mood.html" class="button"><div class="sign-in">Log In</div></a>
  </body>
</html> -->

<body>

<h1>Sign Up</h1>

<div>
    <input type="text" id="fname" name="firstname" placeholder="Enter Username">

    <input type="text" id="lname" name="lastname" placeholder="Enter Password">

    <label for="Choose Gender">Choose Gender</label>
    <select id="country" name="country">
      <option value="australia">male</option>
      <option value="canada">female</option>
      <option value="usa">other</option>
    </select>
    <a href="/daily-mood">
    <input href="/daily-mood" type="submit" value="Continue">
  </a>
  </form>
</div>

</body>
</html>
